h1 {
color:blue;
}
img {
width: 400px;
}
#thirdDiv {
height: 600px;
width: 500px;
background : blue;
padding : 50px;
border: 53px solid grey;
}
#spanId {
font-size : 18px;
margin : 50px:
text-align: center;
}
div{
margin: auto;
text-align: center;
}

body {
 background-image: url("https://i.pinimg.com/originals/c0/2e/23/c02e2331f7676a14d3ed879faaaa2ba3.png");
 background-repeat: no-repeat;
 background-size: auto;
 background-position: center;
}
